* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container {
	width: 100%;
	display: flex;
	/* flex-direction: column; */
	align-items: center;
	justify-content: center;
	/* background-color: blue; */
}

.camera_container {
	position: relative;
	padding: 5%;
	/* border-width: 2px;
	border-style: double;
	border-color: blue; */
}
.camera_container .canvas {
	/* position: absolute; */
	/* margin-left: auto;
	margin-right: auto; */
	/* top: 0; */
	position: absolute;
	text-align: center;
	left: 50%;
	transform: translateX(-50%);
	max-width: 100%;
	/* border-width: 2px;
	border-style: double;
	border-color: red; */
	/* object-fit: contain; */
	padding: 5%;
	/*
	margin: auto;
	top: 0;
	bottom: 0; */
}

#video {
	max-width: 100%;
	/* object-fit: contain; */
	/* aspect-ratio: 4/3;
	object-fit: contain; */
	/* border-width: 2px;
	border-style: double;
	border-color: green; */
}
/*
#canvas {
	width: 90%;
	aspect-ratio: 4/3;
	object-fit: contain;
	image-rendering: crisp-edges;
	image-rendering: -moz-crisp-edges;
	image-rendering: -webkit-optimize-contrast;
	image-rendering: optimize-contrast;
	-ms-interpolation-mode: nearest-neighbor;
} */

/* FROM HERE my col-9 */
.col-9 {
	width: 75%;
	position: -webkit-sticky;
	position: sticky;
	/* top: 90px; */
	padding: 10px 0px;
}

.col-9 h4 {
	color: rgb(100, 100, 100);
}

.col-9 .card {
	position: relative;
	width: 100%;
	/* min-height: 400px; */
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px 0px;
}

.sticker-circle {
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	overflow: hidden;
	aspect-ratio: 1/1;
	width: 50%;
	background: linear-gradient(to right, rgb(43, 3, 69), rgb(15, 131, 180));
	padding: 2px;
	margin: 2px;
	/* margin-right: 8px; */
	cursor: pointer;
	/* background-color: rgb(255, 221, 0); */
}

.sticker-circle .circle {
	position: relative;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	overflow: hidden;
	/* cursor: pointer; */
	display: flex;
	align-items: center;
	justify-content: center;
	border: 2px solid white;
	/* background-color: white; */
}

/* .sticker_circle img {
	aspect-ratio: 1/1;
	width: 80%; */
/* height: 100%; */
/* width: 30%;
	height: 30%; */
/* object-fit: cover; */
/* background-color: rgb(0, 255, 204); */
/* } */
.sticker {
	aspect-ratio: 1/1;
	width: 80%;
	/* height: 100%; */
	/* width: 30%;
	height: 30%; */
	object-fit: cover;
	/* background-color: rgb(0, 255, 204); */
}
/* TO HERE my col-9*/

/* FROM HERE my col-3 */
.col-3 {
	/* could be named if width change to cont-25 or col-4?*/
	width: 25%;
	position: -webkit-sticky;
	position: sticky;
	/* top: 90px; */
	padding: 10px 0px;
}

.col-3 h4 {
	color: rgb(100, 100, 100);
}

.col-3 .card {
	position: relative;
	width: 100%;
	/* min-height: 400px; */
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px 0px;
}

/* .sticker_circle img {
	aspect-ratio: 1/1;
	width: 80%; */
/* height: 100%; */
/* width: 30%;
	height: 30%; */
/* object-fit: cover; */
/* background-color: rgb(0, 255, 204); */
/* } */

.col-3 img {
	aspect-ratio: 1/1;
	width: 80%;
	/* height: 100%; */
	/* width: 30%;
	height: 30%; */
	object-fit: cover;
	/* background-color: rgb(0, 255, 204); */
}
/* TO HERE my col-3 */

/* @media screen and (max-width: 1000px) {
	.col-9 {
		width: 100%;
		background: #fafafa;
	}

	.col-3 {
		display: none;
	}
}

@media screen and (max-width: 600px) {
	.col-9 {
		margin-top: 4px;
		min-width: 100%;
	}

	.col-9 .card {
		margin-bottom: 0px;
		width: 100%;
		border: none;
	}
} */
