* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	min-height: 100vh !important;
}
.container {
	width: 90%;
	display: flex;
	justify-content: center;
	margin: auto;
	margin-top: 15px;
}

.camera_container {
	position: relative;
}

#camera_buttons {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin: auto;
	margin: 5px;
}

.camera_container .canvas {
	position: absolute;
	text-align: center;
	left: 50%;
	transform: translateX(-50%);
	max-width: 100%;
}

#video {
	max-width: 100%;
	height: fit-content;
	margin: 5px;
}

.myBtns {
	cursor: pointer;
	padding: 1px 2px;
	border: double 3px transparent;
	border-radius: 8px;
	background-image: linear-gradient(white, white),
		radial-gradient(circle at top left, rgb(43, 3, 69), rgb(15, 131, 180));
	background-origin: border-box;
	background-clip: padding-box, border-box;
	font-family: inherit;
	font-size: 15px;
	color: rgb(43, 3, 69);
	margin: 3px 5px;
}

.myBtns:hover {
	background-image: radial-gradient(
		circle at top left,
		rgb(43, 3, 69),
		rgb(15, 131, 180)
	);
	color: white;
}

/* FROM HERE my col-9 */
.col-9 {
	width: 75%;
	max-width: 665px;
	position: -webkit-sticky;
	position: sticky;
	margin: 10px;
}

.col-9 h4 {
	color: rgb(100, 100, 100);
}

.col-9 .card {
	position: relative;
	max-width: 460px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: auto;
}

.sticker-circle {
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	overflow: hidden;
	aspect-ratio: 1/1;
	width: 50%;
	background: linear-gradient(to right, rgb(43, 3, 69), rgb(15, 131, 180));
	padding: 2px;
	margin: 2px;
	cursor: pointer;
}

.sticker-circle .circle {
	position: relative;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 2px solid white;
}

.sticker {
	aspect-ratio: 1/1;
	width: 80%;
	object-fit: cover;
}
/* TO HERE my col-9*/

/* FROM HERE my col-3 */
.col-3 {
	width: 25%;
	position: -webkit-sticky;
	position: sticky;
	padding: 10px 0px;
}

.col-3 h4 {
	color: rgb(100, 100, 100);
}

.col-3 .card {
	position: relative;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px 0px;
}

.col-3 img {
	aspect-ratio: 1/1;
	width: 80%;
	object-fit: cover;
}
/* TO HERE my col-3 */

/* @media screen and (max-width: 1000px) {
	.col-9 {
		width: 100%;
		background: #fafafa;
	}

	.col-3 {
		display: none;
	}
}
*/
@media screen and (max-width: 600px) {
	/* .col-9 {
		margin-top: 4px;
		min-width: 100%;
	} */

	/* .col-9 .card {
		margin-bottom: 0px;
		width: 100%;
		border: none;
	} */

	.container {
		margin: 0;
		justify-content: center;
		margin: auto;
	}
	.myBtns {
		font-size: small;
	}
	#camera_buttons {
		margin: 0;
	}
	h4 {
		font-size: xx-small;
	}
	h2 {
		font-size: medium;
	}
}
