* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.col-9 {
	width: 665px;
	margin-top: 30px;
}

.col-9 .card {
	margin-bottom: 20px;
	position: relative;
	width: 100%;
	display: inline-block;
	border: 1px solid rgba(7, 7, 7, 0.24);
	border-radius: 4px;
	box-shadow: 7px 7px 17px 0px rgb(0 0 0 / 20%);
}

.col-9 .card .top {
	padding: 10px 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.col-9 .card .bottom {
	padding: 10px 20px;
}

.col-9 .card .top .userDetails {
	width: 100%;
	display: flex;
	align-items: center;
}

.profile_img {
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	overflow: hidden;
	width: 30px;
	height: 30px;
	background: linear-gradient(to right, rgb(43, 3, 69), rgb(15, 131, 180));
	padding: 2px;
	margin-right: 8px;
}

.profile_img .image {
	position: relative;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 2px solid white;
}

.profile_img img {
	width: 100%;
}

.gallery-img {
	width: 100%;
}
/* Location and name */
.col-9 .card .top .userDetails h3 {
	font-size: 16px;
	color: #4d4d4f;
	font-weight: 500;
	line-height: 1em;
}

/* Location */
.col-9 .card .top .userDetails h3 span {
	font-size: 0.75em;
}

main {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

main .container {
	position: relative;
	width: 50%;
	display: flex;
	align-items: flex-start;
	justify-content: center;
}
.imgBx {
	position: relative;
	width: 100%;
	margin: 10px 0 15px;
}
.actionBtns {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.myBtns {
	cursor: pointer;
	padding: 1px 2px;
	border: double 3px transparent;
	border-radius: 8px;
	background-image: linear-gradient(white, white),
		radial-gradient(circle at top left, rgb(43, 3, 69), rgb(15, 131, 180));
	background-origin: border-box;
	background-clip: padding-box, border-box;
	font-family: inherit;
	font-size: 15px;
	color: rgb(43, 3, 69);
	margin: 3px 5px;
}

.myBtns:hover {
	background-image: radial-gradient(
		circle at top left,
		rgb(43, 3, 69),
		rgb(15, 131, 180)
	);
	color: white;
}

.likes {
	font-weight: 500;
	margin-top: 5px;
	font-size: 14px;
	color: #4d4d4f;
}

.heart img {
	cursor: pointer;
	height: 2.5vh;
	width: 2.5vh;
}
.comment img {
	height: 2.5vh;
	width: 2.5vh;
}

.comment p {
	margin-top: 5px;
	font-size: 14px;
	color: #4d4d4f;
	text-align: left;
	overflow: auto;
}
.addComments {
	display: flex;
	align-items: center;
	margin-top: 20px;
	border-top: 1px solid #ddd;
	padding: 10px 0;
}

input.text {
	width: 100%;
	border: none;
	outline: none;
	font-weight: 400;
	font-size: 14px;
	color: #262626;
	background: none;
}
input.text::placeholder {
	color: #777;
}

.postTime {
	margin-top: 8px;
	font-weight: lighter;
	color: rgb(163, 163, 163);
	font-size: 12px;
	text-transform: uppercase;
}
.comment_form {
	width: 100%;
}

.hidden {
	display: none;
}

@media screen and (max-width: 1000px) {
	.col-9 {
		width: 100%;
		background: #fafafa;
	}
}

@media screen and (max-width: 600px) {
	.container {
		width: 100% !important;
	}

	.col-9 {
		margin-top: 4px;
		min-width: 100%;
	}

	.col-9 .card {
		margin-bottom: 20px;
		width: 100%;
		border: none;
	}

	.imgBx {
		position: relative;
		width: 100%;
		margin: 10px 0 15px;
	}
	.likes {
		font-size: smaller;
	}
}
